body {
  	padding-top: 70px;
  	color: rgba(81, 86, 92, 1);
  	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
  	font-size: 16px;
  	margin-bottom: 150px;
  	width: 100%;
    height: 100%;
    background: #f5f5f5;
}

h1, h2, h3, h4 {
	font-weight: 400;
    color: rgba(81, 86, 92, 0.80);
}

a {
	color: #349e00;
}

b, strong {
	font-weight: 400;
}

hr {
	margin-top: 15px;
    margin-bottom: 15px;
}

/* */

.input-required:after {
	color: red;
	content: ' * ';
}

.pointer {
	cursor: pointer;
}

.color-success {
	color: #66CC99;
}

.color-black {
	color: #000;
}

.color-danger {
	color: #FC575E;
}

.bg-gray-light {
	color: #eee;
}

.mt0 {
	margin-top: 0px;
}

.m0 {
	margin: 0px;
}

.mt5 {
	margin-top: 5px;
}

.mr10 {
	margin-right: 10px;
}

.pr0 {
	padding-right: 0px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mlr5 {
	margin-left: 5px;
	margin-right: 5px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb40 {
	margin-bottom: 40px;
}

.icon {
	font-size: 18px;
}

.modal-header {
	background-color: rgba(52, 158, 0, 0.65);
}

.modal-header h4 {
	color: #fff;
}

@media (min-width: 992px) {
	.col-md-1-5 {
		width: 10.33333333%;
		float: left;
		position: relative;
	    min-height: 1px;
	    padding-left: 15px;
	}
}



.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

.nav-sidebar > li > a > .icon {
	margin-right: 5px;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-brand {
	height: auto;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #349e00;
}

.navbar-nav>li>a {
	padding-top: 30px;
	padding-bottom: 15px;
}

.small, small {
	color: #aaa;
}

th {
    font-weight: 400;
}

/* Main */

@media (min-width: 768px) {
	/* .main {
		margin-top: 25px;
	} */
}

.navbar-default {
	background-color: #fff;
	border-bottom: 2px solid rgba(217, 225, 232, 1);
}


.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
	background-color: #eee;
	color: #349e00;
}

.nav-sidebar > li > a {
	color: rgba(81, 86, 92, 1);
	font-weight: 400;
}

.nav-sidebar > li > a {
	background-color: #fff;
}

.nav-sidebar > li > a:hover {
	background-color: #eee !important;
}

.nav-sidebar {
	/* border: 1px solid #bbb; */
}

/* Text */

.text-success {
	color: #66CC99;
}

.text-warning {
}


/* Button */

.btn-primary {
	background-color: #429fdd; /* rgba(53, 182, 239, 1); */
	border-color: #429fdd; /* rgba(53, 182, 239, 1); */
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #2980b9;
	border-color: #2980b9;
}

.btn-default-success {
	color: #349e00;
    background-color: #fff;
    border-color: #349e00;
}

.btn {
	border-radius: 2px;
}

.btn-success {
	background-color: #349e00;
	border-color: #349e00;
}

.btn-success:hover, .btn-success:focus {
	background-color: #66CC99;
	border-color: #66CC99;
}

/* Form */

.form-control {
	border-radius: 0px;
}

.title {
	color: #349e00;
}

/* Label */

.label {
	border-radius: 2px;
	padding: 5px 7px;
	font-size: 14px;
	font-weight: 400;
}

label {
	font-weight: 400;
}

.label-success {
	background-color: #27ae60;
}

.label-danger {
	background-color: #c0392b;
}

.label-primary {
    
}

.panel .panel {
    margin-bottom: 0px;
}

.panel-default>.panel-heading{
    color: #ffffff;
    background-color: rgba(52, 158, 0, 0.65);
}
.panel-default>.panel-heading h4 {
    color: #fff;
    margin: 0px;
}

.panel-default {
    border-color: #eee;
}
/* Message Notification */

.message-notification {
	margin: 0 auto;
	width: 200px;
	z-index: 99999;
	color: #000000;
	padding: 10px;
	text-align: center;
	position: fixed;
	top: -65px;
    left: 0;
    right: 0;
	background-color: #EBE3AA;
	box-shadow: 0px 2px 20px #888;
}

/* Well */

.well {
	margin-bottom: 0px;
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
	box-shadow: none;
}

input + div.tooltip.top .tooltip-arrow {
	border-top-color: red;
}

input + div.tooltip .tooltip-inner {
	background-color: red;
}

/* Footer */

.footer {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	font-size: 14px;
  	text-align: center;
  	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2A2B2F;
	color: #f5f5f5;
}