html {
	position: relative;
  	width: 100%;
}

body {
	background-color: #fff;
	color: rgb(110, 114, 122);
	font-family: 'Roboto', sans-serif;
	margin-bottom: 150px;
	font-weight: 300;
	width: 100%;
    height: 100%;
}

.website-container {
	margin-top: 80px;
}

.form-control:focus {
	border-color: rgba(0, 156, 44, 0.8);
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px rgba(0, 156, 44, 0.8);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px rgba(0, 156, 44, 0.8);
}

.layer {
    background-color: rgba(164, 213, 201, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a {
	color: #349e00;
}

hr {
	margin-bottom: 10px;
	margin-top: 10px;
}

h2 {
	font-weight: 500;
}

h3 {
	font-weight: 400;
}

label {
	font-weight: 400;
	color: #349e00; /*rgba(0, 156, 44, 0.8);*/
}

label.error {
	color: #C0392B;
}

/* Other Classes */

.mt40 {
	margin-top: 40px;
}

.input-required:after {
	color: red;
	content: ' * ';
}

/* Form controle */

.form-control {
	height: auto;
	border-radius: 1px;
}

/* Button */

.btn {
	border-radius: 1px;
	font-size: 16px;
	font-weight: 400;
}

.btn-success {
	background-color: #349e00; /*rgb(0, 156, 44);*/
	border: 1px solid #349e00;
}

.btn-white-border {
	color: white;
	border: 2px solid white;
	background-color: transparent;
}

.btn-white-border:hover, .btn-white-border:focus {
	color: white;
	border: 2px solid rgba(0, 156, 44, 0.8);
	background-color: transparent;
}

.text-green {
	color: #349e00;/*rgba(0, 156, 44, 0.8);*/
}

.btn-green-border {
	color: #349e00;
	border: 2px solid #349e00; /*rgb(0, 202, 124);*/
	background-color: transparent;
}

.color-white {
	color: white !important;
}

.color-black {
	color: black !important;
}

.color-gray-dark {
	color: #666 !important;
}

.color-green {
	color: rgba(0, 156, 44, 0.8);
}

.bg-tranparent {
	background: rgba(250, 250, 250, 0.8);
}

.bg-white {
	background-color: white;
}

.border-bottom-green {
	border-bottom: 1px solid rgba(0, 156, 44, 0.2);
}

/* Brand */

.navbar-default .navbar-brand {
	padding: 10px 15px;
	color: #000;
	height: auto !important;
	margin: 0 !important;
	top: 0px;
	position: absolute;
}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
	color: #555;
}

/* Navbar */

.navbar-default {
	box-shadow: none;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}


/* Hero */

.hero-signup {
	padding: 120px 0;
	background-position: center top;
	background-size: cover;
}

.hero-signin {
	padding: 160px 0;
	background-position: bottom center;
	background-size: cover;
}

.hero {
	background-attachment: fixed;
	background-color: rgb(0, 202, 124);
}

/* Section */

.section {
	padding: 40px;
}

.section h4 {
	color: #777;
}

.section-text h2, .section-text h3, .section-text h4 {
	color: #fff;
}

.login-container {
	margin-bottom: 60px;
}

@media (min-width: 960px) {
	.container {
		width: 960px;
	}
}

.sweet-alert {
	border-radius: 0px;
}

.sweet-alert button {
	border-radius: 0px;
}

/* Footer */

.footer {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #2A2B2F;
	color: #f5f5f5;
}